Django==4.2.5
django-environ
django-cors-headers
djangorestframework
django-cleanup
django-tinymce

djangorestframework-simplejwt
argon2-cffi==23.1.0   
djoser
PyJWT
social-auth-app-django
social-auth-core
dj-database-url

Pillow
django-storages
django-ckeditor
psycopg2
humanize

mailjet_rest

gunicorn
whitenoise
boto3