Django
django-environ
django-allauth
django-cors-headers
djangorestframework
django-cleanup
django-tinymce


djangorestframework-simplejwt
argon2-cffi
djoser
PyJWT
social-auth-app-django
social-auth-core
dj-database-url

Pillow
django-storages
django-ckeditor
psycopg2
humanize
python-slugify
mailjet_rest

uvicorn 
whitenoise
boto3